
<head>
  
  <link rel="stylesheet" href= "main.css">
</head>

<body>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Latest Posts</h2>
      </div>
      </div>
</div>

<div class="container-flex";>
    
<% @posts.each do |post| %>
<br>
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Show', post %>
<%= link_to 'Delete', 
             post_path(post), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' } %> 
<%= image_tag post.image.url(:medium) %>

<%= post.caption %>

<br>

<% end %>

</div>
</body>