<head>
  
  <link rel="stylesheet" href= "posts.scss">
</head>

<body>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Latest Posts</h2>
      </div>
      </div>
</div>


    
<% @posts.each do |post| %>

<div class="container-flex";>
<br>
<%= link_to 'Edit', edit_post_path(post) %>
<%= link_to 'Show', post %>
<%= link_to 'Delete', 
             post_path(post), 
                         method: :delete, 
                         data: { confirm: 'Are you sure?' } %> 
<br>
<%= image_tag post.image.url(:medium) %>
<br>
<%= post.caption %>
<br>

<%=link_to like_post_path(post), class: "like-btn", method: :put do%>
<span class="likebtn-wrapper" data-identifier="item_1"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>

<br>

<% end %>
<%end%>

</div>
</body>